body {
	background-color: #212121;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}
.main {
	width: max-content;
	margin: 1rem auto 10px auto;
	border: 1px solid white;
	padding: 1rem 1rem;
	border-radius: 1rem;
}
.todoList {
	list-style-type: none;
	padding: 0px;
}
.list-item {
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	position: relative;
}
.addText {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}
.addInput {
	width: 70%;
	height: 2rem;
	border-radius: 10px;
	font-size: 24px;
}

/* Style the close button */
.closeBtn {
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
